

<form method="post">
	<label>
		<div>Post Title</div>
		<input type="text" name="title" value="{{title}}">
	</label>

	<label class="post_content">
		<div>Post Content</div>
		<textarea name="post_body" value="post_body">{{post_body}}</textarea> 
	</label>


	<div class="error">{{error}}</div>

	<input type="submit">
</form>

<hr>

{% extends "base.html" %}

{% block content %}

{% for post in posts %}
	<div class="post">
		<div class = "post_title">{{post.title}}</div>
		<pre class = "post_body">{{post.post_body}}</pre>
	</div>
	<hr>
{% endfor %}
{% endblock %}
